# root files
.env
env
certbot/

# MacOS
.DS_Store

# ./backend for laravel
backend/vendor/
backend/.env
backend/.env.*
backend/storage/
backend/bootstrap/cache/
backend/node_modules/
backend/public/storage/

#  ./frontend for vite-react
frontend/node_modules/
frontend/.env
frontend/.env.*
frontend/dist/
app-data/
**/*.sqlite
**/settings*.cfg

# dev
# dev nginx config
nginx/nginx.dev.conf 
# removed ssl certificates for dev
docker-compose.yaml
