*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: oklch(12.87% .004 285.83);
  --color-bg-secondary: oklch(13.627% 0.01855 270.824);
  --color-bg-accent-pink: oklch(0.7019 0.2053 1.58 / 7.84%);
  --color-bg-accent-blue: oklch(0.743 0.142972 244.2512 / 8%);    
  --color-primary-purple: oklch(58.32% .2139 278.205);  
  --color-secondary: oklch(0.4833 0.2222 301.22);
  --color-border: oklch(30.5% .0182 285.268);
  --color-text: oklch(98.48% 0 0);
  --color-text-light-white: oklch(0.9848 0 0 / 60%);
  --color-hover-light-purple: oklch(0.7309 0.0779 304.71);
  --font-main: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}

body {
  font-family: var(--font-main);
  font-size: 75%;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

