*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-bg: oklch(12.87% .004 285.83);
  --color-bg-secondary: oklch(8.467% 0.00001 271.152);   
  --color-primary-purple: oklch(58.32% .2139 278.205);  
  --color-secondary: oklch(0.4833 0.2222 301.22);
  --color-border: oklch(30.5% .0182 285.268);
  --color-text: oklch(98.48% 0 0);; 
  --color-hover-light-purple: oklch(0.7309 0.0779 304.71);
  --font-main: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

